<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="wilson"/>
    <title>HiveelPay-shop</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>HiveelPay shop</h1>
    </div>
    <div class="main" align="center">
        <div class="inwrap">
            <h3>产品列表</h3>

            <!--private String productId;-->
            <!--private Integer productType;-->

            <!--private String productName;-->
            <!--private String productDescription;-->

            <!--private String amount;//$-->


            <div style="border:1px solid #00ba7a;">
                <form th:method="post" th:action="@{/shopping/pay}">
                    <div th:each="item: ${mapList}">
                        <h2 th:text="${item.key}"></h2>
                        <div th:each="val : ${item.value}">
                            <input th:type="radio" name="productId" th:value="${val.productId}"/>
                            <span th:text="${val.productId}"></span>
                            <div th:text="${val.productName}"></div>
                            <div th:text="${val.productDescription}"></div>
                            <div th:text="${val.amount}"></div>
                        </div>
                    </div>

                    <button type="submit">支付</button>
                </form>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy;2018 HiveelPay</p>
    </div>
</footer>


</body>
</html>
