<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiveelpay.dal.dao.mapper.BizCarMapper">
    <sql id="table_name">
        t_biz_car
    </sql>
    <sql id="all_columns">
        bizOrderNo, carId, zipcode, syncStatus, notifyCount, createAt, lastUpdateAt
    </sql>
    <sql id="save_columns">
        bizOrderNo, carId, zipcode, syncStatus, notifyCount
    </sql>

    <insert id="save" parameterType="com.hiveelpay.dal.dao.model.BizCar" flushCache="true">
        insert into
        <include refid="table_name"/>
        (
        <include refid="save_columns"/>
        )value
        (
        #{bizCar.bizOrderNo},#{bizCar.carId},#{bizCar.zipcode},#{bizCar.syncStatus},#{bizCar.notifyCount}
        )
    </insert>
    <update id="increaceNotifyCount" flushCache="true">
        update
        <include refid="table_name"/>
        set notifyCount = notifyCount+1, syncStatus=#{syncStatus} where bizOrderNo = #{bizOrderNo} and carId = #{carId}
    </update>
    <select id="findByCarId" resultType="com.hiveelpay.dal.dao.model.BizCar" useCache="true">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            carId = #{carId}
        </where>
    </select>
    <select id="findByStatus" resultType="com.hiveelpay.dal.dao.model.BizCar">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            <![CDATA[   syncStatus = #{syncStatus} and notifyCount <= #{maxNotifyCount} ]]> order by createAt desc
        </where>
    </select>
    <select id="findByBizOrderIds" resultType="com.hiveelpay.dal.dao.model.BizCar">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            bizOrderNo in (
            <foreach collection="bizOrderNoSet" item="bno" separator=",">
                #{bno}
            </foreach>
            )
        </where>
    </select>
</mapper>