<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiveelpay.dal.dao.mapper.PaymentMethodMapper">
    <sql id="table_name">
        t_payment_method
    </sql>
    <sql id="all_columns">
        id, token, customerId, customerTargetId, isDefault, imageUrl, paymentMethodType, createAt, lastUpdateAt
    </sql>
    <sql id="save_columns">
        token, customerId, customerTargetId,
        isDefault,
        imageUrl, paymentMethodType
    </sql>
    <insert id="save" parameterType="com.hiveelpay.dal.dao.model.PaymentMethod" flushCache="true">
        insert into
        <include refid="table_name"/>
        (
        <include refid="save_columns"/>
        )
        value
        (
        #{paymentMethod.token}, #{paymentMethod.customerId},#{paymentMethod.customerTargetId},
        #{paymentMethod.isDefault},
        #{paymentMethod.imageUrl},#{paymentMethod.paymentMethodType}
        )
    </insert>
    <select id="findByToken" resultType="com.hiveelpay.dal.dao.model.PaymentMethod" useCache="true">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            token =#{token} and customerId = #{customerId}
        </where>
    </select>
    <select id="findCustomerPaymentMethods" resultType="com.hiveelpay.dal.dao.model.PaymentMethod" useCache="true">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            customerId = #{customerId}
        </where>
    </select>

    <select id="findById" resultType="com.hiveelpay.dal.dao.model.PaymentMethod" useCache="true">
        select
        <include refid="all_columns"/>
        from
        <include refid="table_name"/>
        <where>
            token=#{paymentMethodId}
        </where>
    </select>
</mapper>