<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hiveelpay Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/>
</head>
<body>
<header class="main">
    <div class="container wide">
        <div class="content slim">
            <div class="set">
                <div class="fill">
                    <a class="pseudoshop" href="/">Hiveel<strong>Test</strong></a>
                </div>

                <div class="fit">
                    <a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in" target="_blank">Hiveel
                        Payment</a>
                </div>
            </div>
        </div>
    </div>
    <div class="notice-wrapper">
        <div class="show notice error notice-error" th:if="${errorDetails}">
            <span class="notice-msg" th:text="${errorDetails}"></span>
        </div>
    </div>
</header>

<div class="wrapper">
    <div class="checkout container">
        <header>
            Hiveel test transaction.
        </header>
        <form id="payment-form" th:action="@{/checkouts}" th:method="post">
            <input type="hidden" name="userId" id="userId"/>
            <input type="hidden" name="paymentMethodId" id="paymentMethodId"/>
            <input type="hidden" name="mchId" id="mchId"/>
            <input type="hidden" name="channelId" id="channelId" />
            <section>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="1"/>
                    </div>
                </label>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <input type="hidden" id="nonce" name="payment_method_nonce"/>
            <button class="button" type="submit"><span>Test Transaction</span></button>
        </form>
    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var form = document.querySelector('#payment-form');
    var client_token = [[${clientToken}]];
    console.log("client_token:", client_token)

    braintree.dropin.create({
        authorization: client_token,
        // authorization: 'sandbox_g42y39zw_348pk9cgf3bgyw2b',
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {

        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                document.querySelector('#userId').value = "user001";
                document.querySelector('#paymentMethodId').value = "paymentMethodId001";
                document.querySelector('#mchId').value = "10000000";
                document.querySelector('#channelId').value = "H_SUBSCRIPTION";
                form.submit();
                console.log("client_token:", payload.nonce)
            });
        });
    });
    /*]]>*/
</script>
<script src="/javascript/demo.js" th:src="@{/javascript/demo.js}"></script>
</body>
</html>
